<!-- implement your code here -->
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'story' %}
      <div class="slide" {{ block.shopify_attributes }}>
        {{ block.settings.image | image_url: width: 2048 | image_tag }}
      </div>
    ...
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Stories",
  "class": "section-stories",
  "tag": "div",
  "blocks": [
    {
      "name": "Story",
      "type": "story",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "title of your story"
        },
        {
          "type": "image_picker",
          "id": "story_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "story_link",
          "label": "Target URL"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Stories",
      "blocks": [
        {
          "type": "story",
          "settings": {
            "title": "Shopping Link",
            "story_link": "https://shopping.google.com/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
