<!-- implement your code here -->
<section id="dawn-stories" class="stories">
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'story' -%}
        <div class="story">
          <div class="content">
             <div class="image-cont">
               <a href="{{ block.settings.story_link }}">
                 <img class="related-product__image" src="{{ block.settings.story_image | img_url: '500x' }}" alt="{{ block.settings.title }}">
               </a>
             </div>
             <p>{{ block.settings.title }}</p>
           </div>
        </div>
  {%- endcase -%}
{%- endfor -%}
</section>

{% javascript %}
  const container = document.getElementById("dawn-stories");

  if(window.orientation > 1) {
    container.style.display = "none";
  }
{% endjavascript %}


{% schema %}
{
  "name": "Stories",
  "class": "section-stories",
  "tag": "div",
  "blocks": [
    {
      "name": "Story",
      "type": "story",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "title of your story"
        },
        {
          "type": "image_picker",
          "id": "story_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "story_link",
          "label": "Target URL"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Stories",
      "blocks": [
        {
          "type": "story",
          "settings": {
            "title": "Shopping Link",
            "story_link": "https://shopping.google.com/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
